<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quiz</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container py-5">
<h1 class="text-center mb-4">Quiz</h1>
<form th:action="@{/submit}" method="post">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Question</th>
            <th>Answers</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question, iterStat : ${questions}">
            <td th:text="${iterStat.count}" class="fw-bold mb-2"></td>
            <td th:text = "${question.questionId}"></td>
            <td>
                <div th:utext="${question.questionText}" class="fw-bold mb-2"></div>
                <details>
                    <summary style="cursor: pointer; color: #0d6efd; text-decoration: underline;">HINT</summary>
                    <div th:utext="${question.questionHint}" class="mt-2"></div>
                </details>
            </td>
            <td>
                <div th:each="answer : ${question.answers}" class="form-check">
                    <input th:attr="type=${question.type == 'MULTIPLE' ? 'checkbox' : 'radio'}"
                           class="form-check-input"
                           th:name="'answers[' + ${question.id} + ']'"
                           th:value="${answer.id}"
                           th:id="${question.id + '_' + answer.id}">
                    <label class="form-check-label" th:for="${question.id + '_' + answer.id}" th:utext="${answer.answerText}"></label>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>